html, body {
    box-sizing: border-box;
    height: 100%;
    background: #ADA996;  /* fallback for old browsers */
    

}
.container{
    padding: 5%;
}

.App, .posted {
    border: 2px transparent solid;
    border-radius: 6px;
    padding: 12px;
    background: whitesmoke;
    margin: 2%;
}

iframe {
    border: none;
    display: flex;
    border-radius: 15px;
    margin: auto;
    width: 200px;
    height: 100px;
    transition: 1s;
}
iframe:hover {
    width: 40vmax;
    height: 20vmax;
    }

.bucket {
text-align: center;}

