html, body {
    box-sizing: border-box;
    height: 100%;
    background: #ADA996;  /* fallback for old browsers */
    

}
.container{
    padding: 5%;
}

.App, .posted {
    border: 2px transparent solid;
    border-radius: 6px;
    padding: 12px;
    background: whitesmoke;
    margin: 2%;
}
.posted {
    overflow: hidden;
}
iframe {
    display: flex;
    border: none;
    border-radius: 15px;
    margin: auto;
    width: 40%;
    height: 200px;
    transition: 1s;
}
iframe:hover {
    margin: auto;
    width: 80%;
    height: 400px;
   
    
    }

.bucket {
display: inline-flex;
width: 100%;
align-content: center;
height: 400px;
margin: auto;

}

